@font-face {
    font-family: "FF Meta";
    src: url("./assets/meta-normal.ttf");
}

body {
    font-family: "FF Meta";
}

.promoBar {
    display: flex;
    padding: 0.5% 7% 0.5% 7%;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    color: rgb(37, 37, 37);
    background-color: rgb(235, 235, 235);
    border-top: 1px solid lightgrey;
}

.promoInfo {
    text-decoration: underline;
    width: 33.33%;
    text-align: center;
}

.support {
    text-align: right;
    width: 33.33%;
}

.naviBar {
    padding: 1.5% 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    color: rgb(37, 37, 37);
}

.naviBarLeft {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 35%;
}

.search {
    width: 55%;
    padding: 10px 0 0 10px;
}

.searchBar {
    padding-left: 10px;
    height: 90%;
    border: none;
    font-family: "FF Meta";
}

::placeholder {
    color: rgba(128, 128, 128, 1);
    font-size: 14px;
    font-weight: bold;
    font-family: "FF Meta";
}

.naviBarCenter {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 16px;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.9);
}

.naviBarRight {
    width: 10%;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemNum {
    color: cadetblue;
    padding-left: 5px;
    font-weight: bold;
}

.contentHeader {
    display: flex;
    flex-direction: column;
    padding: 1% 2%;
}

.listCategory {
    font-size: 14px;
    font-family: "FF Meta";
}

h1 {
    margin: 5% 0;
    font-size: 70px;
    text-align: center;
}

.optionBar {
    display: flex;
    flex-direction: row;
    padding: 0 2%;
    justify-content: space-between;
    align-items: center;
}

.optionBarLeft {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sortArea {
    display: flex;
    flex-direction: row;
    align-items: center;
}

button {
    font-family: "FF Meta";
    font-size: 14px;
}

.dropMenu {
    border: 1px solid;
    background: transparent;
    height: 50%;
    margin: 0 10px;
}

.chairList {
    width: 90%;
    display: inline-grid;
    justify-items: center;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0 5% 10% 5%;
}

.eachChair {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    width: 350px;
}

.chairInfo {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
}

.chairImg {
    height: 400px;
    object-fit: cover;
    margin-bottom: 15px;
}

.chairColors {
    display: flex;
    flex-direction: row;
}

.foo {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px 5px 5px 0;
    border: 1px solid rgba(0, 0, 0, .2);
}

.white {
    background: whitesmoke;
}

.wine {
    background: #ae163e;
}

.midnightblue {
    background: midnightblue;
}

.skyblue {
    background: skyblue;
}

.black {
    background: #282c34;
}

.grey {
    background: grey;
}

.cartBtn {
    width: 100px;
    height: 40px;
    border: 0;
    color: white;
    background-color: black;
}

.cartBtn:hover {
    color: black;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
}

.cartBtn:active {
    color: white;
    background-color: black;
}

.footer {
    padding-bottom: 5%;
    bottom: 0;
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(37, 37, 37);
}

.icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart {
    margin: 4% 7% 10% 7%;
}

.cartHeader {
    margin-bottom: 2%;
}

.cartTitle {
    margin-bottom: 1%;
    text-align: left;
    font-size: 60px;
}

.cartContent {
    width: 70%;
    border-top: 1px solid lightgrey;
}

.eachItem {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imgThumbnail {
    height: 200px;
    width: 150px;
    object-fit: cover;
}

.chairQuantity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 25%;
    height: 50px;
    align-items: center;
}

.quantity {
    width: 60px;
    font-size: 20px;
    text-align: center;
}

.eachItemTotal {
    width: 12%;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
}

.plusMinusBtn {
    width: 50px;
    height: 50px;
    padding: 0;
    border: 2px solid black;
    border-radius: 5px;
    background-color: transparent;
    font-size: 25px;
    text-align: center;
}

.plusMinusBtn:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.plusMinusBtn:active {
    color: black;
    background-color: transparent;
}

.removeItem {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 2%;
}

.removeBtn {
    margin-left: 60px;
}

.removeBtn:hover {
    cursor: pointer;
}

.link {
    text-decoration: underline;
}

.link:hover {
    text-decoration: none;
    cursor: pointer;
}

.checkout {
    margin-left: 40%;
    width: 30%;
    justify-content: flex-end;
}

.checkoutDetails {
    margin: 8% 0 10% 0;
    display: flex;
}

.checkoutLayout {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: bold;
    gap: 25px;
}

.right {
    text-align: right;
}

.totalAmount {
    display: flex;
    font-weight: bold;
    border-top: 1px solid lightgrey;
    font-size: 20px;
    margin-bottom: 3%;
}

.total {
    width: 50%;
    margin-top: 5%;
}

.checkoutBtn {
    border: 0;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
}

.checkoutBtn:hover {
    background-color: lightgrey;
    color: black;
    cursor: pointer;
}
